body {
    background-image: url("../img/what-the-hex.png");
}

a:link {
    color: black
}

a:visited {
    color: black
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.navbar-brand, #login-message {
    font-family: 'Raleway Dots', cursive;
}

a {
    font-family: 'Poppins', sans-serif;
}

nav {
    margin-bottom: 50px;
}

#login-input {
    width: 80%;
    margin: 0 auto;
}

.btn {
   width: 100%;
}

#welcome-banner {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.card {
    margin: 20px;
    align-content: center;
}
